
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
    color: #747171;


}
.container{

    margin: 0 auto;
}
.page-title-area {
    background-image: url("../img_blog/Page-title-area2.jpg");
    position: relative;
    z-index: 1;
    padding-top: 137px;
    padding-bottom:95px;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.page-title-area::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000000;
    opacity: 0.9;
}
.page-title-area .page-title-content ul li a{
    color: #bab0b0;
    margin-right: 10px;
    transition: all  0.5s;
}
.page-title-area .page-title-content ul li a:hover{
    color:  #fd3c65;
    text-decoration: none;
}
.page-title-area .page-title-content ul li{
    display: inline-block;
    color: #fd3c65;
    position: relative;
    font-size: 16px;
    margin-left: 10px;
}
.page-title-area .page-title-content ul {
    padding: 30px;
}

.page-title-area .page-title-content h2{
    margin-bottom: 0;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
}

.blog-details-area{
    padding-top: 100px;
    padding-bottom: 20px;
}
.campaing-text{
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 4px 4px;
}

.campaing-text p{
    line-height: 26px;
}

.blog-details-area .campaing-img {
    overflow: hidden;
}


.widget-search{
   box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
    background-color: #ffffff;
    padding: 25px;"
}
.search-field{
    background-color: transparent;
    height: 50px;
    width: 100%;
    transition: 0.5s;
    padding: 6px 15px;
    border: 1px solid #eeeeee;
    outline: 0;
}
.widget-search button{
    margin-left: -50px;
        position: absolute;

        height: 50px;
        width: 50px;
        border: none;
        color: #ffffff;
        background-color: #fd3c65;
        transition: 0.5s;
}
.widget-post h3{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
    position: relative;
    font-weight: 600;
    font-size: 20px;
}
.widget-post {
    margin-top: 35px;
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
    background-color: #ffffff;
    padding: 25px;

}

.info{
    margin-left: 95px;
}
.info a h4{
    color: #474c40;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}


.list-post{
    margin-bottom: 30px;
}
.info a h4:hover{
    color: #e22b64;
    transition: all 0.5s;

}
.info a:hover{
    text-decoration: none;
}
.list-archives li::before {

    content: "■";
    color:   #fd3c65;
    font-weight: bold;
    display: inline-block;
    width: 7px;
    height: 7px;
    left: 0;
    top: 7px;


}
.list-archives{
    padding-left: 0px;
    list-style: none;
    line-height: 2;

}

.list-archives li a {
    font-size: 20px;
    margin-left: 20px;

    color: #666666;
}
.list-archives li a:hover{
    color: #e22b64;
    transition: all 0.5s;
    text-decoration: none;
}

.widget-tags a{
    display: inline-block;
    color: #666666;
    font-weight: 600;
    font-size: 14px !important;
    padding: 7px 10px;
    border: 1px dashed #eeeeee;
    margin-top: 10px;
    margin-right: 10px;
}
.widget-tags a:hover {
    background-color: #fd3c65;
    color: #ffffff;
    border-color: #fd3c65;
    transition: all 0.5s;
    text-decoration: none;
}

p{
    color: #747171;
    font-size: 15px;
    margin-bottom: 15px;
}
.article-content{
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
    padding: 30px;
}

.article-content p{
    line-height: 26px;
}

.article-content .entry-meta ul{
    list-style: none;
    padding: 0;
    color: #747171;
}
.article-content .entry-meta ul li span{
    color: red;
}
.article-image .campaing-text ul {
    padding: 0;
    border-bottom: 1px solid #dddee0;
    padding-bottom: 10px;
}

.article-image .campaing-text ul li{
    display: inline-block;
    color: #a7a7aa;
    font-size: 14px;
    font-weight: 400;
}
.article-image .campaing-text ul li.left-site{
    float: right;
}
.article-image .campaing-text .progress{
    height: 5px;
    background: #cccccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    margin-top: 32px;

}
.article-image .campaing-text .progress .progress-bar{
    background-color: #e22b64;
    width: 50%;

}

.article-image .campaing-text .progress .progress-value {
    font-size: 15px;
    font-weight: bold;
    color: #8a8486;
    position: absolute;
    right: 185px;
    top: 605px;
}
.payment-method p{
    display: inline-block;
    padding-right: 30px;
}



.contact-form{
    line-height: 4;

}
.contact-form input{
    width: 100%;
    height: 50px;
    color: #6e6e6e;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 0;
    font-size: 15px;
    padding: 10px 20px;
}
.contact-form button {
    background-color: #e22b64;
    border: none;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: normal;
    padding: 15px;
}

.contact-form button:hover{
    background-color:#25283a ;
    transition: all 0.5s;
}






.article-tags{
    width: 50%;
}
.article-tags span{
    color: #e22b64;
}
.article-footer{
    padding-bottom: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.article-tags a{
    color: #666666;
}
.article-tags a:hover{
    color: #e22b64;
    text-decoration: none;
    transition: all 0.5s;
}
.article-footer{
    display: flex;
}
.article-share{
    /*padding-left: 197px;*/
    /*float: right;*/
    /*width: 50%;*/
}
.social li{
    float: left;
    list-style: none;

}
.social li a {
    margin-left: 5px;
    display: block;
    color: #fd3c65;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #faf5f5;
    text-align: center;
    font-size: 14px;
}
.social li a:hover{
    color: #ffffff;
    transition: all 0.5s;
    background-color: #e22b64;
}

@media (max-width: 420px) {
    .campaing-img img{
        width: 690px;
    }
}
