*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
}

.section {
    color: white;
    background-image: url("../img/even/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    padding-top: 6%;
    padding-bottom: 5%;
    height: 380px;
}
.setting-background{
    background:linear-gradient(black,black);
    opacity: 0.9;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 38rem;
}
.container h1 {
    color: white;
    opacity: 0.9;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-top: 80px;
    line-height: 77px;
}

.container .link-title{
    color: white;
    opacity: 0.9;
    font-weight: 700;
    text-align: center;
}
.container p a{
    font-weight: 700;
    color: white;
}

.container p i{
    margin: 0 7px 0 7px;
}

.container p b{
    color: #fd3c65;
}

.section-item{
    background-color: #f7fafe;
    padding-bottom: 90px;
}

.container{
    width: 83%;
    margin: 0 auto;
}
.container-list{
    padding-top: 100px;
}

.list{
    background-color: #f7fafe;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    position: relative;
}

.list-img-text{
    position: relative;
}

.background{
    position: absolute;
    top:20px;
    left:-9px;
}

.background img{
    border-radius: 4px;
    opacity: 0.6;
}

.background img{
    border-bottom-right-radius: 0;
}



.list-item{
    width: 535px;
    height: 260px;
    background-color: #f5f5f5;
    margin: 10px 0 10px 0;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.list-item__img img{
    width: 270px;
    height: 260px;
}

.list-item__text{
    padding-left: 30px;
}

.list-item__text h4{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.list-item__text p {
    width: 210px;
    line-height: 25px;
    font-size: 15px;
    color: #ee99b3;
}

.list-item__text ul li{
    margin-top: 12px;
}

.list-item__text ul li i{
    font-size: 11px;
    width: 14px;
    color: #E22B64;
}

.list-item__text ul li span{
    font-size: 14px;
    color: #807E7F;
    font-weight: 700;
    transition: .3s;
}

.list-item__text ul li span:hover{
    color: #E22B64;
}

.list-item__text .read-more{
    font-size: 13px;
    color: #262626;
    position: relative;
    top: 25px;
    font-weight: 700;
    display: inline-block;
}

.list-item__text a:hover{
    color: #E22B64;
}

.list-item__text .read-more::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50%;
    width: 100%;
    height: 1px;
    background-color: #E22B64;
    -webkit-transition: transforn 250ms;
    transition: transform 250ms;

}

.list-item__text .read-more:hover::after{
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
}

.list-item__text>span{
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    background-color: #f4b6d5;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}


@media(max-width: 1300px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }

    .list{
        justify-content: space-evenly;
    }

    /*.setting-background{*/
    /*    height: 50vh;*/
    /*}*/

}

@media (max-width: 1190px) {
    .background{
        display: none;
    }

    .list-item{
        display: inline-block;
        width: 450px;
        height: 710px;
    }

    .list-item__img img{
         width: 450px;
         height: 434px;
     }
}

@media (max-width: 960px) {


    .container{
        width: 90%;
    }
    .list-item__img img{
        width: 350px;
        height: 340px;
    }

    .list-item{
        width: 350px;
        height: 600px;
    }

    .setting-background{
        height: 25vh;
    }
}

@media (max-width: 780px) {


    .container{
        width: 90%;
    }
    .list-item{
        display: inline-block;
        width: 500px;
        height: 710px;
    }

    .list-item__img img{
        width: 500px;
        height: 434px;
    }

    .setting-background{
        height: 22vh;
    }
}






